// Palette de couleurs principale
$color-light-blue: #f1f8fc;
$color-blue: #0074c7;
$color-dark-blue: #00497c;
$color-grey: #384050;
$color-red: #cd2c2e;
$color-green: #82b864;

$background-color: white;
$color-title: $color-dark-blue;
$color-texte: $color-grey;
$color-accentuation-red: $color-red;
$color-accentuation-green: $color-green;