header { 
        .search:hover {
                cursor: pointer;
        }

        .search {
                padding-right: 1rem     ;
        }
} 

body {
        background-color: aquamarine;
}

footer { 
        .list-inline-item a {
                text-decoration: none;
        }
        .footer-link {
                text-decoration: none;
              }
}